<p-table [value]="collection$ | async">
  <ng-template pTemplate="header">
    <tr>
      <th *ngFor="let col of cols">
        {{col}}
      </th>
      <th>actions</th>
    </tr>
  </ng-template>
  <ng-template let-item pTemplate="body">
    <tr>
      <td *ngFor="let col of cols">
        {{item[col]}}
      </td>
      <td>
        <button (click)="onEdit(item)" class="mr-1" icon="fa fa-edit" pButton type="button"></button>
        <button (click)="onCopy(item)" class="mr-1" icon="fa fa-copy" pButton type="button"></button>
        <button (click)="onDelete(item)" class="mr-1 ui-button-danger" icon="fa fa-trash" pButton type="button"></button>
      </td>
    </tr>
  </ng-template>
</p-table>
