<p-dialog (onHide)="cancel()"
          [closable]="false"
          [maximizable]="false"
          [minY]="70"
          [modal]="true"
          [responsive]="true"
          [style]="{width: '70em', minWidth: '200px'}"
          [transitionOptions]="'150ms cubic-bezier(0, 0, 0.2, 1)'"
          [visible]="true"
          header="{{title}}">

  <p-header>
    <a (click)="cancel()" class="ng-tns-c11-8 ui-dialog-titlebar-icon ui-dialog-titlebar-close ui-corner-all ng-star-inserted" role="button" tabindex="0"><span class="pi pi-times"></span></a>
  </p-header>
  <div class="ui-g">
    <div class="ui-g-6">
      <form
        [formGroup]="form"
        class="dynamic-form">
        <div *ngFor="let key of keys" class="ui-g">
          <div class="ui-g-12">
            <label for="{{key}}"><strong>{{key}}</strong></label><br>
            <input [formControlName]="key" class="form-control" id="{{key}}" name="{{key}}" pInputText type="text"/>
          </div>
        </div>
      </form>
    </div>
    <div class="ui-g-6">
<pre>
{{form | jsonForm | json}}
</pre>
    </div>
  </div>

  <p-footer>
    <button (click)="submit(form.getRawValue())" class="ui-button-success mr-1" label="save" pButton></button>
    <button (click)="cancel()" label="Cancel" pButton type="button"></button>
  </p-footer>

</p-dialog>
